.footer
{
  width: calc(100% - 100px);
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.footer-left-section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.footer-left-upper-section
{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.footer-left-lower-section
{
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer-left-upper-section div, .footer-left-lower-section div
{
  margin-right: 10px;
}

.footer-right-section
{
  display: flex;
  justify-content: right;
  align-items: center;
}

.footer-right-section-element
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.footer-sub-heading
{
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-links
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-linkedin-icon
{
  height: 20px;
  margin: -4px 0;
}

.footer-github-icon
{
  height: 27px;
  margin: -7px 0;
}