/*================ ABOUT ME - SECTION ================*/

.about-me-section
{
  width: 100%;
  height: calc(100vh - var(--header-height));
  /*max-height: var(--about-me-section-max-height);*/
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-me-overlay-shape
{
  height: 0;
  width: 30%;
  border-bottom: calc(100vh - var(--header-height)) solid var(--secondary-color);
  border-right: 100px solid transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.about-me-overlay-text
{
  font-size: 80px;
  color: var(--secondary-color);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.about-me-container
{
  background-color: transparent;
  width: 60%;
  height: 70%;
  min-width: 500px;
  min-height: 440px;
  display: flex;
  z-index: 10;
}

.about-me-left-section
{
  flex: 0.8;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.4);
}

.about-me-upper-left-section
{
  width: calc(100% - 40px);
  height: 90%;
  min-height: 360px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 20px;
}

.about-me-lower-left-section
{
  background-color: white;
  width: 100%;
  height: 10%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.about-me-picture
{
  height: 200px;
  border: 1px solid rgba(30, 30, 30, 0.7);
  border-radius: 20px 20px 100px 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.about-me-name
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-first-name, .about-me-last-name
{
  font-size: 20px;
  font-weight: 700;
}

.about-me-spacing-line
{
  width: 30%;
  border: 1px solid black;
  margin: 20px 0;
}

.about-me-job-description
{
  font-weight: 500;
}

.about-me-linkedin-image
{
  height: 25px;
}

.about-me-github-image
{
  height: 20px;
}

.about-me-right-section
{
  background-color: transparent;
  max-height: 565px;
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 25px 10px 10px 25px;
}

.about-me-greeting
{
  font-size: 80px;
  font-weight: 700;
}

.about-me-who-what
{
  font-size: 18px;
  font-weight: 500;
  margin: 20px 0;
}

.about-me-buttons
{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 20px 0;
}

.about-me-cv-button
{
  font-weight: 500;
  background-color: var(--primary-color);
  color: white;
  padding: 6px 16px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.about-me-cv-button:hover
{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-me-cv-button:active
{
  opacity: 0.7;
}

.about-me-project-button
{
  font-weight: 500;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 6px 24px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.about-me-project-button:hover
{
  background-color: var(--primary-color);
  color: white;
}

.about-me-project-button:active
{
  opacity: 0.7;
}

.about-me-text
{
  margin-top: 20px;
  overflow-y: auto;
}

/*================ CV - SECTION ================*/

.cv-section
{
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cv-overlay-text
{
  font-size: 80px;
  color: var(--background-color);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.cv-container
{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.cv-main-heading-row
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.cv-main-heading-box
{
  background-color: var(--primary-color);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.cv-main-heading
{
  font-size: 36px;
  font-weight: 700;
}

.cv-button-row
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.cv-sub-heading-row
{
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 40px 0;
}

.cv-sub-heading
{
  font-size: 24px;
  font-weight: 700;
}

.cv-download-button
{
  font-weight: 500;
  background-color: var(--primary-color);
  color: white;
  padding: 8px 16px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.cv-download
{
  text-decoration: none;
}

.cv-download-button:hover
{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.cv-download-button:active
{
  opacity: 0.7;
}

.cv-content-box
{
  background-color: white;
  width: calc(100% - 100px);
  min-width: 475px;
  max-height: 400px;
  padding: 70px 50px;
  display: flex;
  align-items: left;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 20px 0;
}

.cv-box-left-section
{
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.cv-box-timespan
{
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: 10px;
}

.cv-box-position
{
  font-weight: 500;
  margin-bottom: 10px;
}

.cv-box-company
{
  margin-bottom: 10px;
}

.cv-box-location
{
  margin-bottom: 30px;
}

.cv-box-chips
{
  width: 100%;
}

.cv-chips
{
  font-size: 14px;
  background-color: var(--primary-color);
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 5px;
}

.cv-spacing-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-spacing-line
{
  height: 70%;
  border: 1px solid var(--primary-color);
  margin: 0 25px;
}

.cv-box-right-section
{
  flex: 1.2;
  overflow-y: auto;
}

.cv-link-other-activities, .cv-link-projects
{
  font-size: 12px;
  background-color: transparent;
  color: var(--secondary-color);
  border: none;
  cursor: pointer;
}

.cv-link-other-activities:hover, .cv-link-projects:hover
{
  color: var(--primary-color);
}

.cv-link-other-activities:active, .cv-link-projects:active
{
  opacity: 0.7;
}

.cv-final-grade
{
  font-weight: 500;
}

.cv-additional-container
{
  background-color: white;
  width: calc(100% - 100px);
  padding: 70px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 60px 0;
}

.cv-additional-grid
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 20px;
  margin-bottom: 30px;
}

.cv-additional-heading
{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.cv-additional-box
{
  background-color: var(--primary-color);
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 2px;
}

/*================ PROJECTS - SECTION ================*/

.projects-section
{
  background-color: var(--secondary-color);
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.projects-overlay-text
{
  font-size: 80px;
  color: var(--background-color);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.projects-container
{
  width: 70%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.project-arrow-left
{
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  left: 10%;
  z-index: 15;
  transition: background-color 0.15s, opacity 0.15s;
}

.project-arrow-right
{
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  right: 10%;
  z-index: 15;
  transition: background-color 0.15s, opacity 0.15s;
}

.project-arrow-left:hover, .project-arrow-right:hover
{
  background-color: var(--primary-color);
}

.project-arrow-left:active, .project-arrow-right:active
{
  opacity: 0.7;
}

.project-main-element
{
  background-color: white;
  width: var(--project-element-width);
  height: 90%;
  min-width: 250px;
  /*max-height: 585px;*/
  padding: 20px;
  margin: 0 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.4);
  z-index: 14;
  transition: transform 0.15s, height 0.15s;
}

.project-side-element
{
  background-color: white;
  width: var(--project-element-width);
  height: 80%;
  min-width: 250px;
  /*max-height: 530px;*/
  padding: 20px;
  margin: 0 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.4);
  z-index: 13;
  transition: transform 0.15s, height 0.15s;
}

.project-border-element
{
  background-color: white;
  width: var(--project-element-width);
  height: 70%;
  min-width: 250px;
  /*max-height: 530px;*/
  padding: 20px;
  margin: 0 var(--project-element-horizontal-margin);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.4);
  z-index: 12;
  transition: transform 0.15s, height 0.15s;
}

.animToLeft-OffscreenToBorder
{
  animation: animToLeft-OffscreenToBorder 1s linear forwards;
}

.animToRight-OffscreenToBorder
{
  animation: animToRight-OffscreenToBorder 1s linear forwards;
}

@keyframes animToLeft-OffscreenToBorder
{
  from
  {
    transform: translateX(0);
  }

  to
  {
    transform: translateX(calc(100% + var(--project-element-horizontal-margin) * 2));
  }
}

@keyframes animToRight-OffscreenToBorder
{
  from
  {
    transform: translateX(0);
  }

  to
  {
    transform: translateX(calc((100% + var(--project-element-horizontal-margin) * 2) * (-1)));
  }
}

.animToLeft-BorderToSide
{
  animation: animToLeft-BorderToSide 1s linear forwards;
}

.animToRight-BorderToSide
{
  animation: animToRight-BorderToSide 1s linear forwards;
}

@keyframes animToLeft-BorderToSide
{
  from
  {
    transform: translateX(0);
    height: 70%;
  }

  to
  {
    transform: translateX(calc(100% + var(--project-element-horizontal-margin) * 2));
    height: 80%;
  }
}

@keyframes animToRight-BorderToSide
{
  from
  {
    transform: translateX(0);
    height: 70%;
  }

  to
  {
    transform: translateX(calc((100% + var(--project-element-horizontal-margin) * 2) * (-1)));
    height: 80%;
  }
}

.animToLeft-SideToMain
{
  animation: animToLeft-SideToMain 1s linear forwards;
}

.animToRight-SideToMain
{
  animation: animToRight-SideToMain 1s linear forwards;
}

@keyframes animToLeft-SideToMain
{
  from
  {
    transform: translateX(0);
    height: 80%;
  }

  to
  {
    transform: translateX(calc(100% + var(--project-element-horizontal-margin) * 2));
    height: 90%;
  }
}

@keyframes animToRight-SideToMain
{
  from
  {
    transform: translateX(0);
    height: 80%;
  }

  to
  {
    transform: translateX(calc((100% + var(--project-element-horizontal-margin) * 2) * (-1)));
    height: 90%;
  }
}

.animToLeft-MainToSide
{
  animation: animToLeft-MainToSide 1s linear forwards;
}

.animToRight-MainToSide
{
  animation: animToRight-MainToSide 1s linear forwards;
}

@keyframes animToLeft-MainToSide
{
  from
  {
    transform: translateX(0);
    height: 90%;
  }

  to
  {
    transform: translateX(calc(100% + var(--project-element-horizontal-margin) * 2));
    height: 80%;
  }
}

@keyframes animToRight-MainToSide
{
  from
  {
    transform: translateX(0);
    height: 90%;
  }

  to
  {
    transform: translateX(calc((100% + var(--project-element-horizontal-margin) * 2) * (-1)));
    height: 80%;
  }
}

.animToLeft-SideToBorder
{
  animation: animToLeft-SideToBorder 1s linear forwards;
}

.animToRight-SideToBorder
{
  animation: animToRight-SideToBorder 1s linear forwards;
}

@keyframes animToLeft-SideToBorder
{
  from
  {
    transform: translateX(0);
    height: 80%;
  }

  to
  {
    transform: translateX(calc(100% + var(--project-element-horizontal-margin) * 2));
    height: 70%;
  }
}

@keyframes animToRight-SideToBorder
{
  from
  {
    transform: translateX(0);
    height: 80%;
  }

  to
  {
    transform: translateX(calc((100% + var(--project-element-horizontal-margin) * 2) * (-1)));
    height: 70%;
  }
}

.animToLeft-BorderToOffscreen
{
  animation: animToLeft-BorderToOffscreen 1s linear forwards;
}

.animToRight-BorderToOffscreen
{
  animation: animToRight-BorderToOffscreen 1s linear forwards;
}

@keyframes animToLeft-BorderToOffscreen
{
  from
  {
    transform: translateX(0);
  }

  to
  {
    transform: translateX(calc(100% + var(--project-element-horizontal-margin) * 2));
  }
}

@keyframes animToRight-BorderToOffscreen
{
  from
  {
    transform: translateX(0);
  }

  to
  {
    transform: translateX(calc((100% + var(--project-element-horizontal-margin) * 2) * (-1)));
  }
}

.project-element-upper-section
{
  flex: 0.5;
  width: 100%;
  height: calc(25% - (var(--project-spacing-line-vertical-margin) + 1px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-title
{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}

.project-timespan
{
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.project-links
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.project-youtube-image
{
  height: 20px;
}

.project-website-image
{
  height: 20px;
}

.project-github-image
{
  height: 18px;
}

.project-spacing-line
{
  width: 70%;
  border: 1px solid var(--primary-color);
  margin: var(--project-spacing-line-vertical-margin) 0;
}

.project-element-lower-section
{
  flex: 1.5;
  width: 100%;
  height: calc(75% - (var(--project-spacing-line-vertical-margin) + 1px));
}

.project-description
{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/*================ CONTACT - SECTION ================*/

.contact-section
{
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-overlay-text
{
  font-size: 80px;
  color: var(--background-color);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.contact-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.contact-main-heading-row
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.contact-main-heading-box
{
  background-color: var(--primary-color);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.contact-main-heading
{
  font-size: 36px;
  font-weight: 700;
}

.contact-form-container
{
  background-color: white;
  width: 30%;
  height: 60%;
  min-width: 570px;
  min-height: 490px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.4);
}

.contact-multi-section-row
{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-multi-row-left-section
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-right: 20px;
}

.contact-multi-row-right-section
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 20px;
}

.contact-single-section-row
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.contact-last-row
{
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 20px;
}

.contact-spacing
{
  margin-top: 40px;
}

.contact-container span
{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-input
{
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--primary-color);
}

.contact-input:focus
{
  outline: none;
}

.contact-message
{
  height: 80px;
  resize: none;
}

.contact-button
{
  font-weight: 500;
  background-color: var(--primary-color);
  color: white;
  padding: 6px 16px;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.contact-button:hover
{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact-button:active
{
  opacity: 0.7;
}

@media (width <= 600px)
{

}

@media (600px < width < 900px)
{
  
}

@media (900 <= width)
{
  
}